{% if page_count > 1 %}
    <div class="w-full flex justify-center items-center gap-4  my-5">

        {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}" class="text-sm px-4 py-2 bg-transparent hover:bg-slate-500 hover:text-white rounded-full cursor-pointer">
            <i class="bi bi-chevron-left"></i>
            Previous
        </a>
        {% endif %}

        {% for i in pages_iterator %}
            {% if i == page.number %}
            <a class="px-3 py-1 rounded-full bg-slate-500 cursor-pointer">
                <p class="text-base text-white  mx-0.5">{{i}}</p>
            </a>
            {% else %}
            <a href="?page={{i}}" class="px-3 py-1 rounded-full bg-transparent  hover:bg-slate-200  cursor-pointer">
                <p class="text-base  mx-0.5">{{i}}</p>
            </a>
            {% endif %}

        {% empty %}

        {% endfor %}
        
        {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}" class="text-sm px-4 py-2 bg-transparent hover:bg-slate-500 hover:text-white rounded-full cursor-pointer">
            Next
            <i class="bi bi-chevron-right"></i>
        </a>
        {% endif %}

    </div>
{% endif %}