<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer portfolio</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- CSS -->
    {% load tailwind_tags %}
	{% tailwind_css %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'core/base.css' %}">
</head>
<body>
    <div class="w-full min-h-dvh min-w-[350px]  flex flex-col">
        {% block content %}

        {% endblock %}
    </div>


    {% load static %}
    <script src="{% static 'core/base.js' %}"></script>
</body>
</html>